name: Mac-make

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    
    env:
      FC: /usr/local/homebrew/bin/gfortran

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v3

      - name: Dependencies
        run: |
          brew install wget unzip git gcc make cmake netcdf netcdf-fortran
          brew config
          
      - name: Additional files
        run: |
          cd $GITHUB_WORKSPACE
          wget -O 954.zip "https://dl.acm.org/action/downloadSupplement?doi=10.1145%2F2699468&file=954.zip&download=true"
          unzip 954.zip
          cp 954/F90/Src/Polynomial234RootSolvers.f90 SRC/contrib/
        
      - name: Build
        run: |
          /usr/local/homebrew/bin/gmake
          
      - name: Run examples
        run: |
          cd EXAMPLES/example_1
          ./test_gorilla_main.x
          cd ../../EXAMPLES/example_2
          ./test_gorilla_main.x
          cd ../../EXAMPLES/example_3
          ./test_gorilla_main.x
          cd ../../EXAMPLES/example_4
          ./test_gorilla_main.x
          cd ../../EXAMPLES/example_5
          ./test_gorilla_main.x
          cd ../../EXAMPLES/example_6
          ./test_gorilla_main.x
          cd ../../EXAMPLES/example_7
          ./test_gorilla_main.x
          
      - name: Set up MATLAB
        uses: matlab-actions/setup-matlab@v1
        
      - name: Run MATLAB scripts
        uses: matlab-actions/run-command@v1
        with:
          command: |
            cd MATLAB
            example_1
            example_2
            example_3
            example_4
            example_5
            example_6
            example_7
            example_8

      - name: Run MATLAB livescript
        uses: matlab-actions/run-command@v1
        with:
          command: |
            cd MATLAB
            plotting_tutorial
        
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Install PYTHON dependencies
        run: |
          python -m pip install --upgrade pip
          pip install f90nml numpy matplotlib jupyter jupyterlab
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      # Essential so that plt.show() does not get stuck in an infinit loop ("window stays open")
      - name: Set matplotlib backend
        run: echo "MPLBACKEND=Agg" >> $GITHUB_ENV

      - name: Run PYTHON scripts
        run: |
          cd PYTHON
          python3.9 example_1.py
          python3.9 example_2.py
          python3.9 example_3.py
          python3.9 example_4.py
          python3.9 example_5.py
          python3.9 example_6.py
          python3.9 example_7.py

      - name: Run PYTHON plottingscripts
        run: |
          cd PYTHON
          python plot_example_1.py
          python3.9 plot_example_2.py
          python3.9 plot_example_3.py
          python3.9 plot_example_4.py
          python3.9 plot_example_5.py
          python3.9 plot_example_6.py
          python3.9 plot_example_7.py

      - name: Run JUPYTER notebook
        run: |
          cd PYTHON
          jupyter nbconvert --to script plotting_tutorial.ipynb
          python3.9 plotting_tutorial.py
